body {
    display: flex;
    justify-content: center;
}

.days {
    background-color: chartreuse;
    border-radius: 10px;
    font-size: 20px;

}

.today {
    font-weight: bold;
    color: red;
}

.italic {
    font-style: italic;
}